.mainPage {
    .bipolarBanner {
        .bipolarCont {
            min-height: 580px;
            display: flex;
            justify-content: space-between;

            @include mediaQuery(tablet) {
                min-height: initial;
                flex-direction: column;
            }
        }

        .leftBipolar,
        .rightBipolar {
            display: flex;
            align-items: flex-start;
            overflow: hidden;
            position: relative;

            .bipolarText {
                height: 100%;
                position: relative;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                z-index: 2;

                @include mediaQuery(tablet) {
                    padding: 30px 40px;
                }

                @include mediaQuery(mobile) {
                    min-width: 100%;
                    max-width: 100%;
                }
            }

            .bipolarDescr {
                margin-bottom: 24px;
                color: $mainGrayColor;
            }

            .imgBipolarBlock {
                pointer-events: none;
                right: 0;
                z-index: 1;
                position: absolute;
                align-self: flex-end;
                height: 100%;
                vertical-align: middle;

                img {
                    height: 100%;
                    object-fit: cover;
                }

                @include mediaQuery(mobile) {
                    display: flex;
                    justify-content: flex-end;
                    position: relative;
                    max-width: 100%;
                    height: 50%;
                    //height: auto;

                    img {
                        width: 90%;
                    }
                }
            }
        }

        .leftBipolar {
            width: 39%;
            background-color: #E3E2E0;

            .bipolarText {
                padding: 100px 100px 100px calc((100vw - 1500px) / 2);

                @media only screen and (min-width: 2500px) {
                    padding: 100px 100px 100px calc((100vw - 2000px) / 2);
                }

                @media only screen and (max-width: 1500px) {
                    padding: 90px;
                }

                @include mediaQuery(tablet) {
                    padding: 60px 24px;
                }

                @include mediaQuery(mobile) {
                    padding: 40px 20px 170px 20px;
                }
            }

            .bipolarDescr {
                font-size: 18px;
            }

            @include mediaQuery(tablet) {
                width: 100%;
                order: 2;
            }

            @include mediaQuery(mobile) {
                .imgBipolarBlock {
                    position: absolute;
                    height: 100%;

                    img {
                        width: auto;
                    }
                }
            }
        }

        .rightBipolar {
            width: 60%;
            background-color: #F0F0F0;

            .bipolarText {
                margin-left: 0;
                max-width: 60%;
                padding: 75px 75px 115px 75px;
            }

            .bipolarDescr {
                font-size: 24px;

                @include mediaQuery(tablet) {
                    font-size: 18px;
                }
            }

            .bipolarDiscount {
                display: flex;
                align-items: center;

                span {
                    margin-right: 12px;
                    font-size: 40px;
                    color: $mainColor;
                    font-weight: 700;
                }

                .linkLikeButton {
                    position: relative;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 120px;
                    border-radius: 4px;
                    background-color: $mainColor;
                    color: #ffffff;
                    line-height: initial;
                    padding: 10px 16px;
                    font-size: 24px;
                    font-weight: 900;

                    &:hover {
                        background-color: $lightColor;
                    }

                    &:active {
                        background-color: $darkColor;
                    }
                }
            }

            h3 {
                span {
                    color: $mainColor;
                }
            }

            @media only screen and (max-width: 1920px) {
                .bipolarText {
                    max-width: 80%;
                }
            }

            @media only screen and (max-width: 1500px) {
                .bipolarText {
                    max-width: 95%;
                }

                .imgBipolarBlock img {
                    width: 100%;
                }
            }

            @media only screen and (max-width: 1280px) {
                .bipolarText {
                    max-width: 100%;
                }

                .f1 {
                    font-size: 78px;
                }
            }

            @include mediaQuery(tablet) {
                margin-bottom: 10px;
                width: 100%;
                order: 1;

                .bipolarText {
                    margin-left: 0;
                    padding: 40px 24px 115px calc(24px + (100vw - 720px) / 2);
                    max-width: 70%;
                }

                .f1 {
                    font-size: 60px;
                }
            }

            @media only screen and (max-width: 720px) {
                .bipolarText {
                    padding: 40px 24px 115px 24px;
                }
            }

            @include mediaQuery(mobile) {
                flex-direction: column;

                .bipolarText {
                    padding: 30px 20px 0 20px;
                    box-shadow: 35px 50px 50px #F0F0F0;
                }

                .bipolarDiscount {
                    span {
                        font-size: 30px;
                    }

                    .linkLikeButton {
                        width: 85px;
                        font-size: 18px;
                    }
                }

                .bipolarDescr {
                    font-size: 17px;
                }

                h3 {
                    font-size: 50px;
                }

                .imgBipolarBlock {
                    height: 251px;
                    right: 0;

                    img {
                        object-fit: cover;
                        width: 100%;
                    }
                }
            }
        }

        .slides {
            width: 100% !important;
        }

        .bipolarSliderItem {
            position: relative;
            max-width: 100%;
            min-width: 100%;
            width: 100%;
            border-radius: 8px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            box-sizing: border-box;

            @include mediaQuery(tablet) {
                max-width: 100vw;
                min-width: 100vw;
                position: relative;
                min-height: 500px;
            }
        }
    }
}
