/*--color variables--*/
$mainColor: #CD3767;
$mainGrayColor: #716D6C;
$lightColor: lighten(#D0567A, 3%);
$ultraLightColor: #e589a5;
$lightGrayColor: #C4C4C4;
$darkColor: #C52C5D;
$tonedColor: rgba(255, 255, 255, 0.1);
$lightTonedColor: rgba(255, 255, 255, 0.2);
$tonedBlackColor: #373737;

/*--size variables--*/
$iconSize: 34px;

/*--devices--*/
$tabletWindowMaxWidth: 1024px !default;
$mobileWindowMaxWidth: 630px !default;

/*--devices mixins--*/
@mixin mediaQuery($media-query) {
    @if $media-query == tablet {
        @media only screen and (max-width: $tabletWindowMaxWidth) {
            @content;
        }
    }

    @if $media-query == mobile {
        @media only screen and (max-width: $mobileWindowMaxWidth) {
            @content;
        }
    }
}
